@font-face {
    font-family: priyanshu;
    src: url(Heading-Now-Variable.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    color: white;
    
}

#page1{
    width: 100%;
    
    height: 100%;
background-color: #FFB000;

}
.main{
    widows: 100%;
    height: 100vh;
    background-color: rgb(163, 18, 225);
}
.svg{
    widows: 100%;
    height: 100vh;
    mask-image: url(letter-f.svg);
  
    mask-size: 20%;
    mask-repeat: no-repeat;
    mask-position: center;
}
.web{
    widows: 100%;
    height: 100%;
    
    background-position: center;

    background-size: 130%;
    
}
.navbar{
    display: flex;
    align-items: center;

background-color: transparent;
border-bottom: 1px solid white;

}
.off-screen-menu{
    background-color: #262322;
    height: 29vh;
    width: 100%;
    /* max-width: 100%; */
    position: fixed;
    top: -250px;
    /* left: -550px; */
    display: flex;
   
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    font-size: 1.5rem;
    transition: 0.3s ease;
    /* cursor: none; */
}
.off-screen-menu ul{
    display: flex;
   justify-content: flex-start;
    
    align-items: center;
    padding: 3vw;
    gap:14vw;
     
}


.off-screen-menu li{
    list-style: none;
    /* border: 2px solid black; */
    /* margin-top: auto;  */
    /* width: 100%; */
    
}
.off-screen-menu h3 {
    font-family: priyanshu;
    font-stretch: 400%;
    text-align: center;
    font-weight: 500;
}
.off-screen-menu.active{
    /* left: 0px;
     */
     top:0px;
}

ul li>svg {
    height: 20vh;
   font-size: 2vw;
   font-weight: 500;
   text-align: center;
}
ul li>img:hover {
    border-radius: 50%;
    background-color: #FFB000;
}
ul li>svg {
    height: 15vh;
    font-size: 3vw;
}
ul li>svg:hover {
    border-radius: 50%;
    background-color: #FFB000;
}
nav{
padding: 1rem;
/* display: flex; */
/* position: fixed; */
}
.ham-menu{
    height: 50px;
    width: 50px;
margin-right: auto;
position: relative;
}
.ham-menu span{
    height: 3px;
width: 100%;
background-color: rgb(244, 246, 247);
border-radius: 25px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
transition: .3s ease;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
transform: translate(-50%,-50%) rotate(45deg);

}

.ham-menu.active span:nth-child(2){
    opacity: 0;

}
.ham-menu.active span:nth-child(3){
    top: 50%;
transform: translate(-50%,-50%) rotate(-45deg);

}

.navbar h2{
    font-size: 3vw;
   margin: auto; 
font-family: priyanshu;
font-stretch: 400%;
 cursor: none;
}
